build
output

# I do want to keep copyrighting in git.
!.idea/copyright
!.idea/scopes

# I don't care for any of these being shared.
.idea/shelf
.idea/codeStyles
.idea/workspace.xml
.idea/Project.xml
.idea/editor.xml
.idea/misc.xml

tools/bin2c/bin2c
tools/tinyLZMA/tinyLZMA

loader/payload.h